# .envrc

export VCPKG_ROOT="$PWD/vcpkg"

export VCPKG_OVERLAY_TRIPLETS="$PWD/triplets"
export VCPKG_DEFAULT_TRIPLET="x64-linux-static"

export CMAKE_TOOLCHAIN_FILE="$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake"

export PATH="$VCPKG_ROOT:$PATH"